:root {
  --main-color: #2e2f42;
  --second-txt-color: #434455;
  --portfolio-btn-main-color: #f4f4fd;
  --portfolio-btn-txt-color: #4d5ae5;
  --studio-btn-color: #4d5ae5;
  --studio-btn-txt-color: #ffff;
  --portfolio-background-btn-color: #404bbf;
  --hero-footer-background-color: #2e2f42;
  --logo-web-color: #4d5ae5;
  --menu-hover-color: #404bbf;
  --footer-logo-color: #f4f4fd;
  --footer-txt-color: #e7e9fc;
  --portfolio-btn-hover-txt-color: #ffff;
  --team-bckgd-color: #f4f4fd;
  --header-border-color: #e7e9fc;
  --portfolio-btn-border-color: #e7e9fc;
  --portfolio-item-border-color: #e7e9fc;
  --team-content-bckgd-color: #ffffff;
  --soc-bckgrnd-color: #4d5ae5;
  --soc-icon-color: #f4f4fd;
  --soc-bckgrnd-hover-color: #404bbf;
  --border-cust-color: #8e8f99;
  --features-icon-bckgrnd-color: #f4f4fd;
  --footer-soc-title-color: #fff;
  --footer-soc-bckgrnd-color: rgba(255, 255, 255, 0.1);
  --footer-soc-icon-color: #f4f4fd;
  --footer-soc-hover-color: #31d0aa;
  --main-background-btn-hover-color: #404bbf;
  --portfolio-hover-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --teamcard-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --portfolio-btn-hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --header-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  --backdrop-bckgrnd-color: rgba(46, 47, 66, 0.4);
  --modal-bckgrnd-color: #fcfcfc;
  --modal-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-close-bckgrnd-color: #e7e9fc;
  --input-border-color: #4d5ae5;
  --label-txt-color: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--studio-btn-txt-color);
  color: var(--main-color);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.lists {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
/*---------MODAL--------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-bckgrnd-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 408px;
  min-height: 576px;
  background: var(--modal-bckgrnd-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
  padding: 24px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  margin-top: 48px;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
}
.label-txt span {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--label-txt-color);
  display: block;
}
.input-label-txt {
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
  margin-bottom: 8px;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.modal-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment {
  padding: 8px 16px;
  margin-bottom: 16px;
  width: 100%;
  height: 120px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-close {
  position: absolute;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--modal-close-bckgrnd-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.x-modal {
  position: absolute;
  left: 33.33%;
  right: 33.33%;
  top: 33.33%;
  bottom: 33.33%;
}
.modal-button {
  width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--studio-btn-color);
  color: var(--studio-btn-txt-color);
}
.modal-button:is(:hover, :focus) {
  background-color: var(--main-background-btn-hover-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
/*---------/MODAL--------*/
/*---------HEADER--------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--header-border-color);
  box-shadow: var(--header-shadow);
}
.header-container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-transform: uppercase;
  color: var(--main-color);
}
.logo-web {
  color: var(--logo-web-color);
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-txt:hover,
.menu-txt:focus,
.mail:hover,
.mail:focus {
  color: var(--menu-hover-color);
}
.menu-txt {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 24px;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  margin-left: auto;
}
.mail-tel {
  display: flex;
  letter-spacing: normal;
  gap: 40px;
}
.mail {
  padding-top: 27px;
  padding-bottom: 27px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-txt-color);
}
.current {
  color: var(--main-background-btn-hover-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-background-btn-hover-color);
}
/*---------HERO--------*/
.hero {
  width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  padding: 188px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
  color: var(--studio-btn-txt-color);
}
.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border-color: transparent;
  padding: 16px 32px;
  margin-top: 48px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--studio-btn-color);
  color: var(--studio-btn-txt-color);
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--main-background-btn-hover-color);
}
/*---------FEATURES--------*/
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-icon-list {
  display: flex;
  gap: 24px;
  padding-bottom: 8px;
}
.features-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--features-icon-bckgrnd-color);
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.features-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-txt-color);
}
/*---------PROJECTS--------*/
.projects {
  padding-bottom: 120px;
}
.projects-list {
  display: flex;
  gap: 24px;
}
.project-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/*---------TEAM--------*/
.team {
  padding-top: 120px;
  background-color: var(--team-bckgd-color);
}
.team-list {
  display: flex;
  padding-bottom: 120px;
  gap: 24px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-content {
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--team-content-bckgd-color);
  box-shadow: var(--teamcard-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}
.job {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--second-txt-color);
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--soc-bckgrnd-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:is(:hover, :focus) {
  background-color: var(--soc-bckgrnd-hover-color);
}
.team-soc-icon {
  fill: var(--soc-icon-color);
}
/*---------CUSTOMERS--------*/
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-cust-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover, :focus) {
  border-color: var(--soc-bckgrnd-hover-color);
}
.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--soc-bckgrnd-hover-color);
}
.customers-icon {
  fill: var(--border-cust-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*---------FOOTER--------*/
.footer {
  background-color: var(--hero-footer-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer > .container {
  display: flex;
  gap: 120px;
}
.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  padding-bottom: 16px;
  color: var(--footer-soc-title-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--footer-soc-bckgrnd-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--footer-soc-icon-color);
}
.footer-soc-link:is(:hover, :focus) {
  background-color: var(--footer-soc-hover-color);
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
  color: var(--footer-txt-color);
}
/*---------PORTFOLIO--------*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-navigation {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-top {
  position: relative;
  overflow: hidden;
}
.portfolio-top-txt {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-btn-main-color);
  top: 0;
  background: var(--logo-web-color);
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  transform: translateY(100%);
  overflow: auto;
}
.portfolio-card-link:hover .portfolio-top-txt {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--portfolio-item-border-color);
  border-bottom: 1px solid var(--portfolio-item-border-color);
  border-left: 1px solid var(--portfolio-item-border-color);
}
.portfolio-btn:is(:hover, :focus) {
  background-color: var(--portfolio-background-btn-color);
  color: var(--portfolio-btn-hover-txt-color);
  box-shadow: var(--portfolio-btn-hover-shadow);
  border-color: var(--portfolio-background-btn-color);
}
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--portfolio-btn-border-color);
  padding: 12px 24px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--portfolio-btn-main-color);
  color: var(--portfolio-btn-txt-color);
}
.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--main-color);
}
.portfolio-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-txt-color);
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:is(:hover, :focus) {
  box-shadow: var(--portfolio-hover-shadow);
}
